{% load static %}

{% block body %}

{% include 'user_navigation.html'%}

<script>
    function checkpass()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
        {
            alert('New password and Confirm password field does not match.');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>

<div class="container">
    <h1 class="entry-title"><span>change Password</span> </h1>
    <hr>
    <form class="form-horizontal" onsubmit="return checkpass();" method="post" name="changepassword" id="changepassword"
        enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Current Password</label>
            <input type="password" id="rname" name="currentpassword" class="form-control" required="true" >
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">New Password</label>
            <input type="password" id="rname" name="newpassword" class="form-control" required="true" >
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Confirm New Password</label>
            <input type="password" id="rname" name="confirmpassword" class="form-control" required="true" >
        </div>
        <!-- Submit button -->
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Your password updated successfully')
    window.location = ("{% url 'user_home' %}")
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your current password is wrong');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went Wrong!!');
</script>
{% endif %}


{% endblock body %}