{% load static %}

{% block body %}

{% include 'navigation.html'%}

<!-- <style>
    tr{text-align: center}
</style> -->

<div class="container">
    <h1 class="entry-title"><span>Job Catagory : Construction</span> </h1>
    <hr>
    <table class="table table-striped" id="example">
        <tbody style="background-color: gold;">
            <h4>Found {{ count }} job for Catagory "Construction".</h4>
            {% for i in data %}
            <tr>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="{% url 'job_detail' i.id%}"><img src="{{i.recruiter.image.url}}"
                                    style="width:100px ; height: 100px; border-radius:50%" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="{% url 'job_detail' i.id%}">
                                <h4>{{i.title}}</h4>
                            </a>
                            <ul>
                                <li>{{i.recruiter.company}}</li>
                                <li><i class="fas fa-map-marker-alt"></i>{{i.locations}}</li>
                                <li>${{i.salary}}</li>
                            </ul>
                            <ul> {{i.start_date}} - {{i.end_date}} </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="{% url 'user_login' %}" >Login to Apply</a> 
                        <span>{{i.creationdate}}</span>
                    </div>
                </div>
            </tr>
            {% endfor %}
        </tbody>
</div>

{% endblock body %}