{% load static %}

{% block body %}

{% include 'recruiter_navigation.html'%}

<div class="container">
    <h1 class="entry-title"><span>Pending Recruiters</span> </h1>
    <hr>
    <form class="form-horizontal" onsubmit="return checkpass();" method="post" name="alogin" id="alogin"
        enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Subject of the message</label>
            <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" >
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Introductory message</label>
            <input type="text" id="intromess" name="intromess" class="form-control" placeholder="Say hi" >
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Main message</label>
            <textarea type="text" class="form-control" name="mainmess" id="mainmess"></textarea>
        </div>
        <!-- Submit button -->
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Status changed successfull')
    window.location = ("{% url 'recruiter_all' %}")
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went Wrong!!');
</script>
{% endif %}


{% endblock body %}